# Supabase Configuration
SUPABASE_URL=https://iazbbtokpceqfy.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NclP7ko1lvOX4nDjSMUu9k1V6VnPwozXG4tc
SUPABASE_SERVICE_KEY=eyJhbGciOInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhemJidG9rcHBjZGd5YWNlcWZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4NTc3NDYsImV4cCI6MjA3NDQzMzc0Nn0.N7RgXUWzclP7ko1lvOX4nDjSMUu9k1V6VnPwozXG4tc

# JWT Configuration
JWT_SECRET_KEY=vcet_hackathon_tahiyaaaa
JWT_ACCESS_TOKEN_EXPIRES=86400000

# SMTP Credentials
SMTP_USERNAME=nitin524gupta@gmail.com
SMTP_PASSWORD=xntn vfkv ixbj dtwj

# OAuth Configuration
GOOGLE_CLIENT_ID_WEB=746039886902-86q24v8m81r1fg2h86b2iplad7.apps.googleusercontent.com

GEMINI_API_KEY=AIzaSyBnw7wy0Ay7WcUjrIun3gd_KJWY
GEMINI_MODEL=gemini-2.0-flash

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000
