# Supabase Configuration
SUPABASE_URL=https://ieneqbldtekjzxicjimu.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllbmVxYmxkdGVranp4aWNqaW11Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5OTY1NDIsImV4cCI6MjA3MzU3MjU0Mn0.j_xva3iTouNMtL8c1rdJPJrrSGQxCIJaez6yXM9n-RE
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllbmVxYmxkdGVranp4aWNqaW11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Nzk5NjU0MiwiZXhwIjoyMDczNTcyNTQyfQ.CVbWH_3thSJhmaMaZbdY50eEPzbTMjQU45zSiQmsd3M

# JWT Configuration
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ACCESS_TOKEN_EXPIRES=86400000

# gemini config
GEMINI_API_KEY=AIzaSyBnw7JNFWCVawy0Ay7WcUjrIun3gd_KJWY
GEMINI_MODEL=gemini-2.0-flash

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
PORT=5000